# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Node
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log
